@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kanit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.scroll_custom::-webkit-scrollbar {
  width: 10px;
}

.scroll_custom::-webkit-scrollbar-track{
  background-color: #fafafa;
}

.scroll_custom::-webkit-scrollbar-thumb{
  background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(255,91,0,1) 0%, rgba(252,176,69,1) 100%);
  border-radius: 50px;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@layer utilities {
  .bounce {
    animation: bounce 700ms infinite;
  }
  .kanit {
    font-family: 'Kanit';
  }
  .line-middle {
      overflow: hidden;
      text-align: center;
  }
  .line-middle::after, .line-middle::before {
      background-color: #A9A9A9;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
  }
  .line-middle::after {
      left: 0.5em;
      margin-right: -50%;
  }
  .line-middle::before {
      right: 0.5em;
      margin-left: -50%;
  }
  .ver-line-middle {
    overflow: hidden;
    text-align: center;
    rotate: 90deg;
  }
  .ver-line-middle::after, .ver-line-middle::before {
    background-color: #A9A9A9;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .ver-line-middle::after {
      left: 2px;
      margin-right: -50%;
  }
  .ver-line-middle::before {
      right: 2px;
      margin-left: -50%;
  }
  .warning {
    @apply bg-yellow-500 text-white
  }
  .success {
    @apply bg-green-500 text-white
  }
  .fade-in {
    animation: fade-in 200ms ease-in-out forwards;
  }

  
}